.banner {
    position: fixed;
    top: 5.2rem; /* Position it just below the header */
    left: 0;
    width: 100%;
    background-color: #6936f5; /* A distinct color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    z-index: 999; /* Below the header, but above page content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 20px;
}

.bannerText {
    margin: 0;
}

.bannerButton {
    background-color: white;
    color: #6936f5;
    border: 1px solid #6936f5;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
}

.bannerButton:hover {
    background-color: #f3f4f6; /* Light gray */
    color: #5b21b6;
}